@font-face {
    font-family: 'Arial Regular';
    src: url('fonts/ArialMT.eot');
    src: url('fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('fonts/ArialMT.woff') format('woff'),
    url('fonts/ArialMT.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

.image {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

.btn {
    font-family: 'Arial Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    top: 300px;
    left: 500px;
    background-color:#3877EE;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    opacity: 0.7;
    border-radius: 50%;
    cursor: pointer;
}

.btn3 {
    position: absolute;
    top: 20%;
    left: 30%;
}

.btn2 {
    position: absolute;
    top: 15%;
    left: 70%;
}
.btn1 {
    position: absolute;
    top: 35%;
    left: 60%;
}
.btn4 {
    position: absolute;
    top: 40%;
    left: 35%;
}
.btn5 {
    position: absolute;
    top: 40%;
    left: 73%;
}

.btn6 {
    position: absolute;
    top: 60%;
    left: 56%;
}

.btn7 {
    position: absolute;
    top: 65%;
    left: 67%;
}

.btn8 {
    position: absolute;
    top: 65%;
    left: 24%;
}

.btn9 {
    position: absolute;
    top: 70%;
    left: 83%;
}

.btn10 {
    position: absolute;
    top: 79%;
    left: 58%;
}



.active {
    display: inline-block;
    width: 111px;
    height: 38px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    border-radius: 40px;
    border: none;
}